* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

#datebox {
    text-transform: uppercase;
}

@media (min-width: 240px) {
    
    .quote-holder {
        text-align: center;
        font-size: 2.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    
    h1 {
        font-weight: 300;
    }
    
    p {
        margin-top: 30px;
        line-height: 52px;
    }
}

@media (min-width: 768px) {
    
    .quote-holder {
        font-size: 3em;
    }
}

@media (min-width: 1279px) {
    
    .quote-holder {
        width: 60%;
    }
    
}