* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

#datebox {
    text-transform: uppercase;
}

@media (min-width: 320px) {

    main {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center
    }
    
    .quote-holder {
        text-align: center;
        padding: 15px;
    }
    
    h1 {
        font-weight: 300;
        font-size: 2.5rem;
    }
    
    p {
        font-size: 2rem;
        margin-top: 30px;
        line-height: 52px;
    }
}

@media (min-width: 1280px) {

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 2.5rem;
    }
    
    .quote-holder {
        width: 80%;
    }
    
}