* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Tangerine', sans-serif;
    color: white;
}

q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

@media (min-width: 240px) {
    
    main {
        position: relative;
        margin: auto;
        text-align: center;
        font-size: 2.5em;
        top: 25%;
        text-shadow: 5px 5px 8px black;
    }
    
    h1 {
        font-weight: lighter;
    }
    
    p {
        margin-top: 5%;
    }
}

@media (min-width: 768px) {
    
    main {
        font-size: 4em;
        top: 30%;
    }
}

@media (min-width: 1279px) {
    
    main {
        top: 20%;
        width: 60%;
    }
    
}